
* {										
  margin:0px;							
  padding:0px;
}
#container{								/* div container = includes the whole structure of the body */
	position: relative;
	max-width: 85%;
	max-height: 100%;
	margin: 0 auto;
	font-family: arial;
}

#pageHeader{
	background-color: #ecf0f1;			/* here I changed the color of the background in the header */
}

#pageHeader img{						/*set the position and size of the logo */
	position: relative;
	width: 400px;
	height: 150px;
	right: 3%;
	top: 22px;

}

#pageHeader h2 span{							/*set the position of the text in the header */
	position: relative;
	bottom: 65px;
	left: 25%;
	font-size: 20pt;
	


}
#navBar{
	position: relative;					/* set the position of the navigation bar and remove the space between the two div's*/ 
	white-space: nowrap;					
	background-color: #795548;
	column-width: 30pt;
	
	
	
}

select{

}

ul{
	list-style-type: none;				/* remove the points of the list element and add a font size */
	
}

li{										/* set the navBar elements on a line and changed the position with margin and padding */
	display: inline-block; 				
	margin: 0.4em;
	padding: 4px;
	font-size: 15pt;
	
	
}

li a{									/* changed the color of the Text elements into white and remove the underline */
	color: white;
	text-decoration: none;
	padding: 15px;
}

#midleTitle h1{	
	margin: 0;						/* midle Title size changed , put it in the center and changed size of the div box-area */
	text-align: center;
	padding: 90px;
	font-size: 120px;

}

#mainContentTitle{
	background-color:#9B7C7C;							/* background color and font color changed, font size changed and box area */
	color: white;
	padding: 10px;
	font-size: 15pt;
	
}


.row img,h4{											/* set a div row to structure the left and right divs correctly*/
	position: relative;
	width: 462px;
	height: 300px;
	font-size: 17pt;
	transform: translateY(10%);
}
#right{
	float: left;
	
}
#left{
	float: right;
	
}

hr{
	position: relative;
 	border: 5px solid #9B7C7C;
 	bottom: 100px;
 	clear: left;
 	clear: right;
 	
 
}

#footer img,p{
	width: 350px;
	height: 140px;
	clear: right;
	clear: left;
	transform: translateX(120%);
	
}

#footer p{
	font-size: 15pt;
	color: grey;
	text-align: center;

}
